.app {
  min-height: 100vh;
  background-color: #666d7c;
  text-align: center;
}

.stepper {
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.step {
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 20px;
}
